<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Account Details</title>
<style>
h1 {
	text-align: center;
	margin-bottom: 10px;
}
form {
	text-align: center;
}
textarea {
	width: 500px;
	height: 150px;
}
.error {
	color: red;
}
</style>
</head>
<body xmlns:th="https://www.thymeleaf.org">
	<h1>Get User Account Info from JSON</h1>
	<form action="getAccountInfo" method="post">
		<label for="jsonData">Please insert JSON for Account Info :</label> <br/>
		<textarea type="text" name="jsonData" autofocus="true"></textarea> <br/>
		<h1 th:text="${message}" class="error">Empty Message</h1>
		<br/>
		<button type="submit">Submit</button>
	</form>
</body>
</html>
