<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Account Info</title>

</head>
<body>
	<h2> Here is <span th:text="${accountInfo.name}"></span>'s account info</h2>
	
	<h4>1. <span th:text="${accountInfo.name}"></span></h4>
	<h4>2. <span th:text="${accountInfo.decodedString}"></span></h4>
	<h4>3. <span th:text="${accountInfo.trimmedString}"></span></h4>
	<h4>4. <span th:text="${accountInfo.incrimentalString}"></span></h4>
	<h4>5. <span th:text="${accountInfo.uppercaseString}"></span></h2>
	<h4>6. <span th:text="${accountInfo.amount}"></span></h4>
	<h4>7. <span th:text="${accountInfo.reverseString}"></span></h4>
</body>
</html>